doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body(ng-app="app", ng-cloak)
    block content

    block javascript
    script(src="/socket.io/socket.io.js")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/services/indexFactory.js")
    script(src="/javascripts/services/configFactory.js")
    script(src="/javascripts/Controller.js")
